@import url("https://fonts.googleapis.com/css2?family=Combo&family=Pacifico&family=Poppins:wght@200;300;400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(27, 38, 53),white);
    overflow-x: hidden;
    min-height: 100vh;
}

#navbar{
    position: absolute;
    padding: 0px 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-family: "Pacifico", cursive;
    font-size: 23px;
    color: white;
}

#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul li{
    list-style-type: none;
    padding: 0 4px;
}

#navbar ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0 12px ;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
}



#navbar ul li :hover{
    background-color: white;
    transition: 0.5s all ease-in-out;
    color: black;
}




.nav{
    display: none;
}

.hamburger{
    display: none;
}

@media only screen and (max-width : 850px){
    #navbar ul li {
        display: none;
    }

    
    #toggle {
        display: none;
      }

      
      /**
        Hamburger
      **/
      .hamburger {
        display: block;
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -75px;
        width: 2em;
        height: 45px;
        z-index: 2001;
      }

      #logo{
        /* text-align: left; */
        float: left;
      }
      
      .hamburger div {
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 2px;
        background-color: white;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
      }
      
      /**
      Nav Styles
      **/
      .nav {
        z-index: 2000;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        /* background-color:rgb(37, 109, 108); */
        background: linear-gradient(rgb(27, 38, 53),white);
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        overflow-y: hidden;
      }
      .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
      }
      nav {
        text-align: left;
        /* margin-left: 50%; */
        /* margin-left: 25%; */
      }
      nav a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2em;
        display: flex;
        /* justify-self: center; */
        align-items: center;
        justify-content: center;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
        text-align: center;
      }
      nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
      }
      nav a:hover {
        color: white;
      }
      nav a:hover:before {
        height: 100%;
      }
      
      /**
      Animations
      **/
      #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
      }
      #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
      }
      #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
      }
      
      #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
      }
}